<div>
  <nz-modal [(nzVisible)]="addOrganizeVisible" nzTitle="新建账号"
            (nzOnCancel)="handleCancel('addOrganizeVisible')"
            (nzOnOk)="handleAddOrganize()"
  >
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>新增组织类型</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select formControlName="orgId">
            <nz-option *ngFor="let item of orgList"
                       [nzValue]="item.orgId"
                       [nzLabel]="item.orgName">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>登录账号名</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input nz-input formControlName="loginName" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>登录密码</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input nz-input type="password" formControlName="password" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>使用人姓名</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input nz-input formControlName="userName" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>使用人手机号</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <input nz-input formControlName="mobile" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>
</div>
